{{ item }} ALL=(root) NOPASSWD: /usr/bin/virsh destroy imagemode
{{ item }} ALL=(root) NOPASSWD: /usr/bin/virsh destroy image-mode-test
{{ item }} ALL=(root) NOPASSWD: /usr/bin/virsh destroy podman
{{ item }} ALL=(root) NOPASSWD: /usr/bin/virsh destroy openscap
{{ item }} ALL=(root) NOPASSWD: /usr/bin/qemu-img convert -f qcow2 -O qcow2 -o lazy_refcounts=on /var/lib/libvirt/images/templates/image-mode.qcow2 /imagemode/image-mode.qcow2
{{ item }} ALL=(root) NOPASSWD: /usr/bin/qemu-img convert -f qcow2 -O qcow2 -o lazy_refcounts=on /var/lib/libvirt/images/templates/image-mode-test.qcow2 /imagemode/image-mode-test.qcow2
{{ item }} ALL=(root) NOPASSWD: /usr/bin/virsh start {{ item }}
