[Desktop Entry]
Type=Application
Name=Launch OpenScap VM Console
Icon=/usr/share/icons/hicolor/64x64/apps/qemu.png
Exec=/usr/bin/vncviewer $(/usr/bin/sudo /usr/bin/virsh vncdisplay openscap)
Terminal=false
Categories=Development;